@use 'src/styles/_index' as *

.main
  background: var(--color-bg)
  
.container
  display: flex
  column-gap: 14px
  row-gap: 14px

.left
  display: flex
  flex-direction: column
  max-width: 604px
  width: 100%
  column-gap: 14px
  row-gap: 14px

.right
  display: flex
  flex-direction: column
  max-width: 416px
  width: 100%
  column-gap: 14px
  row-gap: 14px
 
@media (max-width: $breakpoint_tablet)

  .main
    display: flex
    flex-direction: column

  .container
    display: flex
    flex-direction: column
    flex-wrap: wrap

  .left
    width: 100%
    max-width: $breakpoint_tablet

  .right
    width: 100%
    max-width: $breakpoint_tablet
    flex-direction: row