@use 'src/styles/_index' as *

.main
  background: var(--color-bg)
  max-width: 1032px 
  width: 100%
  
.container
  display: flex
  column-gap: 14px
  row-gap: 14px

.left
  display: flex
  flex-direction: column
  max-width: 604px
  width: 100%
  column-gap: 14px
  row-gap: 14px

.right
  display: flex
  flex-direction: column
  max-width: 416px
  width: 100%
  column-gap: 14px
  row-gap: 14px
 
@media (max-width: $breakpoint_tablet)

  .main
    width: calc(100% - 24px)

  .container
    max-width: 100%
    flex-wrap: wrap

  .left
    max-width: 100%
    width: 100%

  .right
    max-width: 100%
    width: 100%
    flex-direction: row