@use 'src/styles/_index' as *

.main
  position: fixed
  top: 0
  width: calc(100% - 74px)
  background: var(--color-white)
  padding: 20px 24px 20px 64px
  border-bottom: 1px solid var(--color-blue-50)
  margin-left: 74px
  transition: 0.3s margin ease-in-out
  z-index: 9

  &_open
    margin-left: 280px

.container
  display: flex
  align-items: center
  width: 100%
  height: 48px
  max-width: 1024px
  display: flex
  justify-content: space-between

.meneOpener
  display: none

@media (max-width: $breakpoint_tablet)
  .main
    width: -webkit-fill-available

  .container

@media (max-width: $breakpoint_mobile)
  .main
    width: 100%
    margin-left: 0px
    padding: 20px 24px

  .group
    display: flex
    column-gap: 14px
    align-items: center

  .meneOpener
    display: unset
    border: 0px



