@use 'src/styles/_index' as *

.content
  display: flex
  justify-content: center
  align-items: center
  width: 36px
  height: 100%
  transform: translateX(0px)
  transition: 0.3s transform ease-in-out

.sidebar

  &_closed
    transform: translateX(36px)

  &_hidden
    display: none

.main
  display: block
  justify-content: center
  align-items: center
  width: 24px
  height: 24px
  border: none
  padding: 0
  background: none

  transition: 0.3s all ease-in-out
  cursor: pointer
  z-index: 2

  div
    display: block
    background: var(--color-blue-200)
    widht: 100%
    height: 3px
    transition: 0.3s all ease-in-out

  .one
    transform: translateY(-4px)
    transform-origin: top left

  .two
    transform: translateX(0px)

  .three
    transform: translateY(4px)
    transform-origin: bottom left

.close
  right: 0px

  .one
    transform: translateY(-6px) rotateZ(45deg)

  .two
    transform: translateX(-20px)
    opacity: 0 

  .three
    transform: translateY(4px) rotateZ(-45deg)

@media (max-width: $breakpoint_mobile)
  // .main
  //   right: calc(-100vw - 48px)
  //   top: 30px







