.main
  display: flex

.content
  width: 100vw
  height: 100vh
  background: var(--color-bg)

.wrapper
  padding: var(--space-xxl) 0 0 var(--space-xxxl)
  margin-left: 74px
  margin-top: 89px
  transition: 0.3s margin ease-in-out
  height: auto
  background: var(--color-bg)
  padding-bottom: 36px

  &_open 
    margin-left: 280px
    
 
    


  