@use 'src/styles/_index' as *

.main
  display: flex
  background: var(--color-bg)

.content
  padding-right: 24px
  height: 100vh

.wrapper
  padding: var(--space-xxl) 0 var(--space-xxl) var(--space-xxxl)
  margin: 89px 0 0 74px
  transition: 0.3s margin ease-in-out
  height: auto
  background: var(--color-bg)

  &_open 
    margin-left: 280px

@media (max-width: $breakpoint_tablet)
  .wrapper
    padding: var(--space-xxl) 0 var(--space-xxl) var(--space-xl)

    
 
    


  